body{
    font-family: 'Halant', serif;
}

.navbar-light .navbar-brand{
    font-family:'Reenie Beanie', cursive;
    color: #002554;
    font-size: 50px;
}

.navbar-light .navbar-nav .nav-link.disabled{
    color: #353A40;
}

.navbar-light .navbar-nav .nav-link {
    color: #002554;
}

.navbar {
    font-family: 'Halant', serif;
    font-size: x-large;
}

.navbar .container{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 25px;
}
.jumbotron {
    /* Background */
    background-attachment: fixed;
    background-image: url(marble.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

.display-4{
    font-size: 6rem;
    font-family: 'Reenie Beanie', cursive;
    color: #0A2B63;
  }

.jumbotron .container {
    padding-left: 40px;
  }

.lead{
    font-size: 1.5rem;
    font-family: 'Halant', serif;
    font-style: normal;
    text-shadow: .75px .75px .75px #FFFFFF;
  }

img{
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

h2{
    background-color: #0A2B63;
    color: #FFFFFF;
    padding-top: .55rem;
    padding-bottom: .25rem;
}

.footerlogo{
    font-family:'Reenie Beanie', cursive;
    color: #002554;
    font-size: 50px;
    text-align: left;
    vertical-align: middle;
    padding-left: 20px;
}

.row.align-items-center{
    background-image: url(marble.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

i.fab.fa-instagram{
    padding-left: 4px;
    padding-bottom: 2px;
}

.btn-sm{
    margin-right: 30px;
}

.jumbotron2{
   padding-top: 2rem; 
   padding-bottom: 2rem;
   background-attachment: fixed;
    background-image: url(marble.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    margin-bottom: 2rem;
    font-style: italic;
}

.mr-3{
    width: 300px;
    height: 300px;
    margin-top: 1.5rem;
    margin-right: 1.5rem!important;
}

.mb-1{
    margin-top: 2rem!important;
    font-size: xx-large;
}

li{
    list-style-type: none;
}

h3{
    font-size: 1rem;
    margin-top: 0.5rem;
}

.container.text-center{
    margin-top: 2rem;
}

.row {
    margin-top: 4rem;
    margin-bottom: 4rem;
}